Karane_STM32/Debug/
Karane_STM32/Release/
Karane_STM32/.settings/
Karane_STM32/*.launch
Karane_STM32/*.o
Karane_STM32/*.elf
Karane_STM32/*.bin
Karane_STM32/*.map
*.o
*.su
*.elf



Karane_Kicad/*.bak
Karane_Kicad/*.kicad_pcb-bak
Karane_Kicad/*.sch-bak
Karane_Kicad/*-save.kicad_pcb
Karane_Kicad/_autosave-*
Karane_Kicad/fp-info-cache
Karane_Kicad/*.kicad_prl
Karane_Kicad/*.kicad_pcb-bin
Karane_Kicad/Karane_Kicad-backups/
Karane_Kicad/.history/


.DS_Store
Thumbs.db


.metadata/
RemoteSystemsTempFiles/